# Product Buying using Decision Tree

In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv('Customer buying a product or not.csv')

In [50]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [51]:
x = df.iloc[:, :-1]

In [52]:
x

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single

In [53]:
y = df.iloc[:, 4]

In [54]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
x = x.apply(LabelEncoder().fit_transform)

In [57]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [59]:
dtc = DecisionTreeClassifier()

In [60]:
dtc.fit(x, y)

DecisionTreeClassifier()

In [61]:
dtc.predict([[1, 1, 0,0]]) #First Way to Predict

array(['yes'], dtype=object)

In [62]:
xinput = np.array([1, 1, 0, 0]) #Second Way to Predict

In [63]:
dtc.predict([xinput])

array(['yes'], dtype=object)

# Dividing data into training and testing

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = .30, random_state = 1)

In [66]:
dtc.fit(xtrain, ytrain)

DecisionTreeClassifier()

In [67]:
pred = dtc.predict(xtest)

# Performance Calculation

In [68]:
from sklearn.metrics import accuracy_score

In [69]:
score = accuracy_score(ytest, pred)

In [70]:
print ('Accuract is: ', score * 100, '%')

Accuract is:  80.0 %

In [71]:
from sklearn.metrics import confusion_matrix

In [72]:
sm = confusion_matrix(ytest, pred)

In [73]:
print (sm)

[[1 0]
 [1 3]]

In [74]:
from sklearn.metrics import classification_report

In [75]:
cr = classification_report(ytest, pred)

In [76]:
print (cr)

              precision    recall  f1-score   support

          no       0.50      1.00      0.67         1
         yes       1.00      0.75      0.86         4

    accuracy                           0.80         5
   macro avg       0.75      0.88      0.76         5
weighted avg       0.90      0.80      0.82         5